{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Список пользователей</h1>
    <div class="list-group">
        {% for u in users %}
            {%if u.id != user.id %}
            <div class="list-group-item">
                <h4>{{ u.login }}</h4>
                <p><strong>Email:</strong> {{ u.email }}</p>
                <p><strong>Роль:</strong> {{ u.role }}</p>
                <a href="{{ url_for('users.detail', user_id=u.id) }}" class="btn btn-info">Просмотр профиля</a>
                <a href="{{ url_for('users.delete', user_id=u.id) }}" class="btn btn-danger">Удалить</a>
            </div>
            {%endif%}
        {% endfor %}
    </div>
    <a href="{{url_for("main.index")}}" class="btn btn-danger">Выйти в главное меню</a>
</div>
{% endblock %}
