{% extends 'base.html' %}

{% block title %}Список мероприятий{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Список мероприятий</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Идентификатор места</th>
                <th>Дата начала</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.place_id }}</td>
                    <td>{{ event.started_at }}</td>
                    <td>
                        <a href="{{ url_for('events.detail', event_id=event.id) }}" class="btn btn-info">Просмотр</a>
                        <a href="{{ url_for('events.review_list', event_id=event.id) }}" class="btn btn-info">Отзывы</a>
                        {% if user %}
                        {% if user.role == "ADMIN" or user.role == "HOST" %}
                        <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">Редактировать</a>
                        <a href="{{ url_for('events.delete', event_id=event.id) }}" class="btn btn-danger">Удалить</a>
                        {%endif%}
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user %}
    {% if user.role == "ADMIN" or user.role == "HOST" %}
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEventModal">Создать новое мероприятие</a>
    {%endif%}
    {%endif%}
    <a href="{{ url_for('main.index') }}" class="btn btn-danger">Выйти в главное меню</a>
</div>

<div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEventModalLabel">Создание нового мероприятия</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('events.create') }}" method="POST">
            <!-- Название мероприятия -->
            <div class="mb-3">
              <label for="title" class="form-label">Название</label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>
  
            <!-- Описание мероприятия -->
            <div class="mb-3">
              <label for="description" class="form-label">Описание</label>
              <textarea id="description" name="description" class="form-control" required></textarea>
            </div>

            <div class="mb-3">
              <label for="place_id" class="form-label">Идентификатор организации</label>
              <input type="number" id="place_id" name="place_id" class="form-control" required></input>
            </div>
  
            <!-- Дата начала -->
            <div class="mb-3">
              <label for="started_at" class="form-label">Дата начала</label>
              <input type="datetime-local" id="started_at" name="started_at" class="form-control" required>
            </div>
  
            <!-- Кнопки -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Создать мероприятие</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% for event in events %}
<div class="modal fade" id="editEventModal{{ event.id }}" tabindex="-1" aria-labelledby="editEventModalLabel{{ event.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventModalLabel{{ event.id }}">Редактирование мероприятия</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('events.update', event_id=event.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Название</label>
                        <input type="text" id="title" name="title" class="form-control" value="{{ event.title }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea id="description" name="description" class="form-control" required>{{ event.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="started_at" class="form-label">Дата начала</label>
                        <input type="datetime-local" id="started_at" name="started_at" class="form-control" value="{{ event.started_at }}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}


