{% extends 'base.html' %}
{% block title %}Мероприятия{% endblock %}
{% block content %}
<h1>Мероприятия</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Комедийное шоу</h5>
                <p class="card-text">Описание мероприятия. Увлекательный вечер.</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Стендап вечер</h5>
                <p class="card-text">Профессиональные комики ждут вас!</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
