<!DOCTYPE html>
<html lang="ru">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Добро пожаловать в Comedy Event Platform</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="{{ url_for('events') }}">Мероприятия</a></li>
                <li><a href="{{ url_for('users') }}">Пользователи</a></li>
                <li><a href="{{ url_for('feedbacks') }}">Отзывы</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                    <li><a href="{{ url_for('logout') }}">Выйти из аккаунта</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Логин</a></li>
                    <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <main>
            <h2>Откройте комедийные мероприятия и талантливых комиков</h2>
            <p>Просматривайте мероприятия, оставляйте отзывы, и связывайтесь с комиками!</p>
        </main>
        
        <footer>
            <p>&copy; 2024 Comedy Event Platform. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
